@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
    color: #05073c;
  }
  .menu-link {
    @apply uppercase text-gray-700 md:text-lg   md:capitalize md:text-white;
  }
  .atoms-button {
    @apply flex items-center bg-primary text-white  px-8 py-4  rounded-xl hover:shadow-md transition-all hover:-translate-y-[1px] hover:opacity-90;
  }
  .atoms-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5;
  }
  .container-custom {
    @apply mx-auto px-4 md:px-8 max-w-full;
    max-width: 1320px;
  }
  .container-slim {
    @apply mx-auto px-4 md:px-8;
    max-width: 950px;
  }
  .mobile-only {
    @apply block lg:hidden;
  }
  .desktop-only {
    @apply hidden lg:block;
  }
}
